<div class="sidebar-widget">
    <h4>Menu Rapide</h4>
    <ul>
        <li><a href="/fr/simulateur_cnss.html">Pension CNSS</a></li>
        <li><a href="/fr/simulateur_cmr.html">Pension CMR</a></li>
        <li><a href="/fr/simulateur_amo_cnss.html">AMO CNSS</a></li>
        <li><a href="/fr/simulateur_amo_cnops.html">AMO CNOPS</a></li>
    </ul>
</div>
<div class="sidebar-widget">
    <h4>Publicité</h4>
    <img src="https://placehold.co/200x400/eeeeee/333333?text=Espace+Publicitaire" alt="Publicité" style="width: 100%;">
</div>