<div class="sidebar-widget">
    <h4>أحدث المقالات</h4>
    <ul>
        <li><a href="/ar/articles/cnss-pension-1320.html">معاش CNSS ابتداءً من 1320 يوم</a></li>
        <li><a href="/ar/articles/cnops-fusion-cnss.html">دمج CNOPS و CNSS</a></li>
        <li><a href="/ar/articles/cmr-contrat-programme.html">عقد برنامج جديد لـ CMR</a></li>
    </ul>
</div>
<div class="sidebar-widget">
    <h4>إعلانات</h4>
    <img src="https://placehold.co/200x200/eeeeee/333333?text=مساحة+إعلانية" alt="Publicité" style="width: 100%;">
</div>