<div class="sidebar-widget">
    <h4>قائمة سريعة</h4>
    <ul>
        <li><a href="/ar/simulateur_cnss.html">معاش CNSS</a></li>
        <li><a href="/ar/simulateur_cmr.html">معاش CMR</a></li>
        <li><a href="/ar/simulateur_amo_cnss.html">AMO CNSS</a></li>
        <li><a href="/ar/simulateur_amo_cnops.html">AMO CNOPS</a></li>
    </ul>
</div>
<div class="sidebar-widget">
    <h4>إعلانات</h4>
    <img src="https://placehold.co/200x400/eeeeee/333333?text=مساحة+إعلانية" alt="Publicité" style="width: 100%;">
</div>