<div class="sidebar-widget">
    <h4>Articles Récents</h4>
    <ul>
        <li><a href="/fr/articles/cnss-pension-1320.html">Pension CNSS dès 1.320 jours</a></li>
        <li><a href="/fr/articles/cnops-fusion-cnss.html">Fusion CNOPS et CNSS</a></li>
        <li><a href="/fr/articles/cmr-contrat-programme.html">Nouveau contrat-programme CMR</a></li>
    </ul>
</div>
<div class="sidebar-widget">
    <h4>Publicité</h4>
    <img src="https://placehold.co/200x200/eeeeee/333333?text=Espace+Publicitaire" alt="Publicité" style="width: 100%;">
</div>